[Unit]
Description=Binary clock for the Raspberry Pi Sense

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/bin/binclock /dev/fb0 /dev/input/event2

[Install]
WantedBy=multi-user.target
